#page1{
    width: 100%;
    height: 700px;
    background-color: rgba(167, 96, 96, 0.196);
    display:flex;
    align-items: center;
    justify-content: center;
}
#page2{
    width: 100%;
    height: 700px;
    background-color: rgb(25, 25, 95);
    display:flex;
    align-items: center;
    justify-content: center;
}
#page3{
    width: 100%;
    height: 700px   ;
    background-color: rgb(0, 0, 0);
     
}
#string{
    position: absolute;
    left: 10%;
    height: 70px;
    width: 100%;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: seagreen;
}
#page4 h1{
    font-size: 100vh;
    color: rgba(11, 6, 6, 0.642);
    display: flex;
     align-items: center;
    text-overflow:nowrap;


}
#page4{
    width: 100%;
    height: 700px   ;
    background-color: rgb(249, 245, 245);
    text-wrap: nowrap;
     
}

